.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 30%;
  background-color: #16134f;
  color: #fff;
}

.dayWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day {
  font-size: 32px;
  font-weight: 600;
}

.weatherWrapper {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  font-size: 50px;
}

.weatherIcon {
  width: 60px;
}

.temp {
  font-size: 80px;
}

.cityName {
  font-size: 32px;
  font-weight: 400;
}