.wrapper {
  flex: 1;
  padding-top: 24px;
}

.title {
  margin-bottom: 34px;
  font-weight: 400;
}

.highlighTitle {
  font-weight: 700;
}

.tripWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.tripListWrapper {
  display: flex;
}