.wrapper {
  flex: 1;
  padding-top: 24px;
}

.title {
  margin-bottom: 34px;
  font-weight: 400;
}

.highlighTitle {
  font-weight: 700;
}

.tripWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}